<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login - Juego de Rol Prototipo</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=MedievalSharp&display=swap" rel="stylesheet">
</head>
<body>
    <div class="container">
        <div class="login-box">
            <h2>Iniciar Sesión</h2>
            <form id="loginForm">
                <div class="input-group">
                    <input type="text" id="username" required>
                    <label for="username">Usuario</label>
                </div>
                <div class="input-group">
                    <input type="password" id="password" required>
                    <label for="password">Contraseña</label>
                </div>
                <button type="submit">Entrar</button>
            </form>
            <div id="message"></div>
            <p>¿No tienes una cuenta? <a href="{{ url_for('register') }}">Regístrate <br>aquí</a></p>
        </div>
    </div>
    <script src="{{ url_for('static', filename='js/login.js') }}"></script>
</body>
</html>